<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--配置组件扫描（这里需要一个存放Controller的包，以com.term.controller为例）-->
	<context:component-scan base-package="com.lovejobs.controller"></context:component-scan>

	<!--处理器映射器，处理器解析器-->
	<mvc:annotation-driven/>

	<!--视图解析器-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 需要在WEB-INF下创建jsp文件夹存放视图 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<mvc:default-servlet-handler></mvc:default-servlet-handler>

	<bean id="noAnnotationHelloService" class="com.lovejobs.service.NoAnnotationHelloService"></bean>
	<bean id="/hello2" class="com.lovejobs.controller.NoAnnotationHelloController">
		<property name="noAnnotationHelloService" ref="noAnnotationHelloService"/>
	</bean>

	<bean class="com.lovejobs.config.AspectJTest"></bean>

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>


</beans>