<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- 如果不特意指定参数名为contextConfigLoction的<context-parameter>元素，
	那么spring的ContextLoderListener监听器就会在/WEB-INF/下去寻找并加载该目录下的名为applicationContext.xml这个文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mvc.xml</param-value>
	</context-param>

	<!-- ContextLoaderListener实现了ServletContextListener，而ServletContextListener是用来处理tomcat启动、停止ServletContextEvent事件，
	所以spring容器是通过tomcat发布的ServletContextEvent启动事件来开始创建spring上下文的 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>